/* FONT */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* ROOT */

:root {
    --primary: #ffffff;
    --secondary: #1e1a57;
    --minimal:#b60905;
    --font: "Josefin Sans";
    --bg:#e6e4f0;
}

/* PDF */

.pdf{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

/* HEAD */

.About-Head-Container{
    width:100%;
    height:300px;
    margin-top: 80px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.About-Head-Img{
    width:100%;
    height: 300px;
    object-fit: cover;
    position: relative;
    opacity: 0.3;
}
.About-Head-L2{
    position: absolute;
    width: 85%;
    height: 300px;
    top:80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.About-Head-Logo{
    width:100px;
    border-radius: 10px;
}
.About-Head-Title{
    color:white;
    font-family: var(--font);
    font-size: 40pt;
}

/* Company Overview */

.About-CO-Title{
    color:var(--secondary);
    font-family: var(--font);
    font-size: 25pt;
}
.About-CO-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding-top: 40px;
}
.About-CO-D{
    width:80%;
}
.About-CO-P{
    font-family: var(--font);
    font-size: 15pt;
    text-align: justify;
    line-height: 35px;
}
.About-CO-Span{
    font-size: 25pt;
    color: var(--secondary);
}

/* Vision And Mission */

.About-VM-Container{
    width: 100%;
    padding: 40px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.About-VM-Img{
    width: 80px;
}
.About-VM-Title{
    font-size: 25pt;
    font-family: var(--font);
    color: var(--secondary);
}
.About-VM-Card{
    width:350px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--bg);
    border-radius: 20px;
    padding: 40px;
    padding-top: 50px;
    height: 550px;
}
.About-VM-P{
    font-family: var(--font);
    font-size: 14pt;
    text-align: justify;
    line-height: 30px;
}
.About-VM-P span{
    color:var(--secondary);
}

/* Our Core Value */

.About-CV-Container{
    background-color: var(--bg);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 40px 0px;
    flex-direction: column;
}
.About-CV-O2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.About-CV-Title{
    font-family: var(--font);
    font-size: 25pt;
    color: var(--secondary);
}
.About-CV-Img{
    width:80px;    
    height: 80px;
}
.About-CV-O{
    display: flex;
    justify-content: center;
}
.About-CV-Card{
    background-color: white;
    border-radius: 20px;
    width:230px;
    display:flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    height: 300px;
    margin: 20px;
}
.About-CV-D{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.About-CV-Topic{
    color: var(--secondary);
    font-family: var(--font);
    font-size: 16pt;
}
.About-CV-P{
    font-family: var(--font);
    text-align: justify;
    line-height: 24px;
    font-size: 12pt;
}

/* Quality Policy */

.About-QP-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 40px 0px;
}
.About-QP-Title{
    font-family: var(--font);
    color: var(--secondary);
    font-size: 25pt;
}
.About-QP-D{
    width: 80%;
}
.About-QP-D p{
    font-family: var(--font);
    font-size: 18pt;
    line-height: 30px;
    text-align: justify;
}
.About-QP-D p span{
    color: var(--minimal);
}
.About-QP-D ul li{
    font-family: var(--font);
    font-size: 15pt;
    padding-bottom: 20px;
    line-height: 30px;
    text-align: justify;
}
.About-QP-D ul li span{
    color: var(--secondary);
}

/* HSE POLICY */

.About-HSE-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding:50px 0px;
    background-color: var(--bg);
}
.About-HSE-Title{
    font-family: var(--font);
    color: var(--secondary);
    font-size: 25pt;
}
.About-HSE-D ul li{
    font-family: var(--font);
    font-size: 15pt;
    padding-bottom: 20px;
    line-height: 30px;
    text-align: justify;
}
.About-HSE-D ul li span{
    color: var(--minimal);
}
.About-HSE-D{
    width: 85%;
}


/* RESPONSIVE */

/* WIDTH : 1024px */

@media  (max-width: 1420px){

    .About-CV-D{
        flex-direction: column;
    }
    .About-CV-Card{
        width:350px;
        height: 250px;
    }
    
}
@media  (max-width: 801px){

    .About-CV-Card{
        width:280px;
        
    }
    .About-VM-Card {
        width: 280px;
        height: 600px;
    }
    
}
@media  (max-width: 701px){

    .About-CV-Card{
        width:240px;
        
    }
    .About-VM-Container{
        flex-direction: column;
    }
    .About-VM-Card{
        width: 75%;
        height: 450px;
        margin-bottom: 50px;
    }
    .About-QP-D p {
        font-size: 15pt;
    }
    .About-QP-D ul li {
        font-size: 14pt;
    }
    .About-HSE-Title{
        font-size: 20pt;
    }
    .About-HSE-D ul li{
        font-size: 15pt;
    }
    
}
@media  (max-width: 601px){

    .About-CV-Card{
        width:190px;
        height: 300px;
    }
    
}
@media  (max-width: 550px){

    .About-CV-Card{
        width:65%;
        height: 230px;
    }
    .About-CV-O{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .About-VM-P{
        font-size: 12pt;
    }
    .About-VM-Card{
        width: 65%;
        height: 500px;
        margin-bottom: 50px;
    }
    .About-CO-P,.About-QP-D p,.About-HSE-D ul li{
        font-size: 13pt;
    }
    .About-CO-Title,.About-CO-Span,.About-CV-Title,.About-QP-Title{
        font-size: 20pt;
    }
    .About-HSE-Title{
        font-size: 17pt;
    }
    .About-Head-Container{
        margin-top: 60px;
    }
    .About-Head-Title{
        font-size: 30pt;
    }
    .About-Head-Img,.About-Head-Container,.About-Head-L2{
        height: 200px;
    }
    .About-Head-L2{
        top:60px;
    }
    
}
@media  (max-width: 450px){
    .About-CV-Card{
        height: 260px;
    }
    .About-VM-Card{
        height: 600px;
    }
}
@media  (max-width: 350px){
    .About-CV-Card{
        height: 280px;
    }
    .About-VM-Card{
        height: 640px;
    }
    .About-VM-P{
        line-height: 25px;
    }
    .About-Head-Title{
        font-size: 25pt;
    }
}
