/* FONT */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* ROOT */

:root {
    --primary: #ffffff;
    --secondary: #1e1a57;
    --minimal:#b60905;
    --font: "Josefin Sans";
    --bg:#e6e4f0;
}

/* HEAD */

.Contact-Head-Container{
    width:100%;
    height:300px;
    margin-top: 80px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.Contact-Head-Img{
    width:100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    opacity: 0.3;
}
.Contact-Head-L2{
    position: absolute;
    width: 85%;
    height: 300px;
    top:80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Contact-Head-Logo{
    width:100px;
    border-radius: 10px;
}
.Contact-Head-Title{
    color:white;
    font-family: var(--font);
    font-size: 40pt;
}

/* CONTACT PAGE */

.Contact-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 100%;
}
.Contact-O1{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Contact-L{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0px 20px;
    width: 60%;
    height:350px;
    border-right: 2px solid var(--secondary);
}
.Contact-R{
    width: 300px;
    height: 350px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.Contact-L p,.Contact-R p{
    font-family: var(--font);
    font-size: 14pt;
}
.Contact-L .LTitle,.Contact-R .RTitle{
    font-size: 15pt;
    color: var(--secondary);
}
.Contact-R a{
    background-color: white;
    border: 2px solid var(--secondary);
    text-decoration: none;
    color: var(--secondary);
    font-family: var(--font);
    padding: 10px 20px;
    margin-top: 30px;
    transition: all 0.5s ease;
}
.Contact-R a:hover{
    background-color: var(--secondary);
    color: var(--primary);
}
.Contact-Email{
    display: flex;
    flex-direction: column;
}
.Contact-E{
    padding-left: 20px;
    color: var(--minimal);
}

@media (max-width:851px) {
    .Contact-L p,.Contact-R p{
        font-size: 11pt;
    }
    .Contact-L .LTitle, .Contact-R .RTitle{
        font-size: 13pt;
    }
    
}
@media (max-width:751px) {
    .Contact-L{
        width: 90%;
    }
    
}
@media (max-width:651px) {
    .Contact-Container{
        height: auto;
        padding: 20px 0px;
    }
    .Contact-O1{
        flex-direction: column;
        padding-top: 40px;
    }
    .Contact-L{
        border: none;
        border-bottom: 2px solid var(--secondary);
    }
    .Contact-R{
        padding: 0px;
        width: 40%;
        margin-top: 40px;
        
    }
    .Contact-o{
        padding-left: 20px;
    }
    .Contact-R a{
        margin-left: 20px;
    }
    .Contact-Head-Title{
        font-size: 30pt;
    }
    .Contact-Head-Img,.Contact-Head-Container,.Contact-Head-L2{
        height: 200px;
    }
    .Contact-Head-L2{
        top:60px;
    }
    
}
@media (max-width:500px) {
    .Contact-L p{
        font-size: 12pt;
    }
    .Contact-Head-Title{
        font-size: 30pt;
    }
    .Contact-R {
        width:60%;
        align-items: center;
    }
    .Contact-L .LTitle{
        text-align: center;
        line-height: 24px;
    }
    .Contact-L{
        width: 80%;
        align-items: center;
    }
    .Contact-E{
        padding: 0px;
    }
    .Contact-o{
        padding-left: 0px;
    }
    .Contact-R a{
        margin-left: 0px;
    }
}
@media (max-width:360px) {
    .Contact-L p{
        font-size: 9pt;
    }
    .Contact-Head-Title{
        font-size: 25pt;
    }
}


.con-bd{
    width: 500px;
}