/* FONT */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* ROOT */

:root {
    --primary: #ffffff;
    --secondary: #1e1a57;
    --minimal:#b60905;
    --font: "Josefin Sans";
    --bg:rgb(243, 243, 251);
}
body {
    margin: 0%;
    width: 100%;
    padding: 0%;
    overflow-x: hidden;
}

/* LANDING PAGE */

/* HEADER */


#Head-Logo{
    height: 50px;
}

header{
    display: flex;
    background-color:var(--primary);
    justify-content: space-between;
    height: 80px;
    align-items: center;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 5;
}
#Head-L{
    margin-left: 100px;
}
#Head-R{
    display: flex;
    width: 40%;
    justify-content: center;
    margin-right: 100px;
}
#Head-R nav{
    width: 100%;
}
#Head-Nav-List{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
}
#Head-Nav-List li a{
    text-decoration: none;
    color: black;
    font-family: var(--font);
}
#Head-Nav-List li a:hover{
    color: var(--minimal);
}


/* SLIDER */

#Slider{
    margin-top: 80px;
}

.Slider-Img{
    width:100%;
    height: 75vh;
    object-fit: cover;
    transition: opacity 0.5s ease;
}
.slider-container{
    position: relative;
    background-color: black;
}
#slider-buttons{
    width: 90%;
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
}
#slider-buttons button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 30pt;
    color: white;
    z-index: 2;
    cursor: pointer;
}
#Slider-Cont-Container{
    position: absolute;
    top: 0;
    padding-left: 200px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
#Slider-Cont{
    color: var(--primary);
    font-size: 40pt;
    font-family: var(--font);
    width:50%;
    line-height: 1.1em;
    font-weight: 700;
    transition: opacity 0.5s ease;
}
#Slider-Button-Learn{
    display: flex;
    justify-content: center;
    align-items: center;
    height:110px;
}
#Slider-Button-Learn button{
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid var(--secondary);
    padding: 10px 20px;
    font-family: var(--font);
    color: var(--secondary);
    font-size: 12pt;
    transition: all 0.5s ease;
    cursor: pointer;
    
}
#Slider-Button-Learn button:hover{
    background-color: var(--secondary);
    color: var(--primary);
}


/* HOME ABOUT */



#Home-About-Container{
    display: flex;
    width: 100%;
    height:80vh;
    justify-content: center;
    align-items: center;
    background-color:var(--bg);
}
#Home-About-Img{
    width:400px;
    height: 450px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#Home-About-L{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Home-About-R{
    width:500px;
    height: 350px;
    display: flex;
    justify-content: space-between ;
    align-items: start;
    flex-direction: column;
}
.Home-About-Title{
    font-size: 25pt;
    font-family: var(--font);
    color: var(--secondary);
}
.Home-About-Cont{
    font-family: var(--font);
    text-align: justify;
    font-size: 14pt;
}
.Home-About-Cont span{
    font-size: 20pt;
    color: var(--secondary);
}
.Home-About-Button{
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid var(--secondary);
    color: var(--secondary);
    padding: 10px 20px;
    font-family: var(--font);
    margin-top: 30px;
}
.Home-About-Button:hover{
    background-color: var(--secondary);
    color: white;
    transition: all 0.5s ease;
    cursor: pointer;
}